<h1>Thank you for helping to make <%= owner %>/<%= repo %> better</h1>

<p class="lead">Your comment is <a href="<%= issue.html_url %>">issue #<%= issue.number %></a></p>

<p>You can <a href="<%= issue.html_url %>">follow along to track its status</a>, or <a href="https://github.com/<%= owner %>/<%= repo %>/issues">browse the list of open issues</a></p>

<p class="uno-mas"><a href="/<%= owner %>/<%= repo %>/issues/new">Submit another comment</a>?</p>
