
<div class="repo">
  <a href="https://github.com/<%= owner %>/<%= repo %>">
    <%= owner %>/<%= repo %>
  </a>
</div>

<h1>
  Comments on <a href="https://github.com/<%= owner %>/<%= repo %>/issues/<%= issue[:number] %>">
    <%= issue[:title] %>
  </a>
</h1>

<div class="state state-<%= issue[:state] %>">
  <%= issue[:state] %>
</div>

<h2 class="issue-title">

</h2>

<div class="row">
  <div class="col-md-12">
    <div class="comment" id="issue-<%= issue[:id] %>">
      <div class="meta">
        <a href="https://github.com/<%= issue[:user][:login] %>">@<%= issue[:user][:login] %></a> posted
        <a href="#issue-<%= issue[:id] %>">
          <span class="timestamp" data-timestamp="<%= issue[:created_at].to_i %>">
            <%= issue[:created_at] %>
          </span>
        </a>
      </div>

      <div class="body">
        <%= render_md issue[:body] %>
      </div>
    </div>
  </div>
</div>
<% comments.each do |comment| %>
  <div class="row">
    <div class="col-md-12">
      <div class="comment" id="issue-comment<%= comment[:id] %>">
        <div class="meta">
          <a href="https://github.com/<%= issue[:user][:login] %>">@<%= comment[:user][:login] %></a>
          commented
          <a href="#issue-comment<%= comment[:id] %>">
            <span class="timestamp" data-timestamp="<%= comment[:created_at].to_i %>">
              <%= comment[:created_at] %>
            </span>
          </a>
        </div>

        <div class="body">
          <%= render_md comment[:body] %>
        </div>
      </div>
    </div>
  </div>
<% end %>
