<h1>Comment on <a href="https://github.com/<%= owner %>/<%= repo %>"><%= owner %>/<%= repo %></a></h1>
<div class="row">
  <div class="col-md-12">
    <form method="POST" role="form">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" value="<%= title %>" class="form-control" placeholder="A brief description of your comment" />
      </div>
      <div class="form-group">
        <label for="body">What was the expected behaviour?</label>
        <textarea name="expected-behaviour" class="form-control" style="height: 300px; "><%= expected_behaviour %></textarea>
      </div>
      <div class="form-group">
        <label for="body">What was the actual behaviour?</label>
        <textarea name="actual-behaviour" class="form-control" style="height: 300px; "><%= actual_behaviour %></textarea>
      </div>
      <div class="form-group">
        <label for="body">What steps do you take to reproduce the problem?</label>
        <textarea name="reproduction-steps" class="form-control" style="height: 300px; "><%= reproduction_steps %></textarea>
      </div>
      <div class="form-group">
        <label for="body">What environment are you using? (Browser version, OS, software versions, etc)</label>
        <textarea name="environment" class="form-control" style="height: 300px; "><%= environment %></textarea>
      </div>
      <div class="form-group">
        <label for="body">Comment</label>
        <textarea name="body" class="form-control" style="height: 300px; "><%= body %></textarea>
      </div>
      <% if guest_submissions_enabled %>
        <div class="row">
          <div class="col-sm-4 guest">
            <div class="form-group">
              <input type="text" id="name" name="name" class="form-control" value="<%= name %>" placeholder="Your name" />
              <button type="submit" class="btn btn-default" name="type" value="guest">Submit as a Guest</button>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="pick-me">
              ...or <button class="btn btn-primary" type="submit" name="type" value="github">
                <% if github_user %>
                  submit as @<%= github_user.login %>
                <% else %>
                  log in with GitHub
                <% end %>
              </button> to comment and receive updates
            </div>
          </div>
        </div>
      <% else %>
        <button type="submit" class="btn btn-primary" name="type" value="github">Submit</button>
      <% end %>
    </form>
  </div>
</div>
